/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.layout-container {
    display: flex;
    min-height: 100vh;
}

.menu-lateral {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.menu-logo {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.menu-items li {
    list-style: none;
    margin-bottom: 15px;
}

.menu-items a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-items a:hover {
    background-color: #34495e;
}

.content-area {
    margin-left: 250px; /* Igual al ancho del menú */
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #ecf0f1;
    min-height: 100vh;
}

.row {
    padding-bottom: 7px;
}

/* Estilos para el select personalizado */
.multi-select-container {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}

.multi-select-container .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

/* Estilo para los tags */
.multi-select-container .badge {
  font-size: 0.85em;
  padding: 0.35em 0.65em;
}

/* Ajuste para el placeholder */
.multi-select-container .text-muted {
  margin-right: auto;
}

.mi-tabla tr.hover {
  background-color: RED;
  transition: background-color 0.2s;
}

.mi-tabla tr.seleccionada {
  background-color: yellow;
  font-weight: bold;
}

.seleccion{
    background-color: #f9b3eb;
}

.hover-activo:hover {
  background-color: #fddef7;
  transform: scale(1.02);
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

